@media screen and (max-width: 980px) {
    img{
        width: 85%;
        height:25%;

   }
}
@media screen and (max-width: 768px) {
 img{
        width: 60%;
        height:25%;

   } 

   #bcg{
        margin-left: 5%;
    
   }



}
@media screen and (max-width: 480px) {
    img{
        width: 45%;
        height:25%;
   }

   blockquote{
        font-size: 0.85em;
   }

   li a{
        font-size: 0.70em;
   }

   #bcg{
        margin-left: 5%;
        font-size: 0.95em;
   }

   #aboutMe{
        font-size: 1.1em;
   }


}
