/* All style should go in this document. */

body { 
  background: url("../img/bcg_mini.jpg") no-repeat center center fixed; 
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contactMe,#contactInfo,#content, .navbar{
    background-color:   #333333;


}   

.images{
  list-style-type: none;

}

.images > li {
  display : inline-block;
  padding-right: 10px;
}

#content{
    opacity:0.8;
    font-family: 'Open Sans', sans-serif;
}

#content h2{
  color:  #ffbbee;
}

#top,#ex{
    background-color:   #ffbbee;
    margin-top: 8%;
    
}

#top h1{
  font-family: 'Lobster', cursive;
}

#top blockquote{
  font-family: 'Dancing Script', cursive;
}

img{
    width: 100%;
    height: 25%;
    padding-bottom: 5%;
}

.tools{
  width: 150px;
  height:200px;
}
li,p,dl{
    color:  #fdf5e6;
    
}

li,dd{
    padding-bottom: 3%; 
}

li a,a{
    color:#d6ffff;
}

#myModal,li a:hover,a:hover {
     color:   #ffbbee;

}

dt, .title {
    color: #d6ffff;
    font-size: 1.5em;
}

.row{
  padding-right: 3%;
  margin-top: 5%;
}

.date{
    color: #ffbbee;
    font-size: 1em;
    font-style: italic;
   
}

#secTitle h3{
    color:  #ffbbee;
    font-size: 1.8em;
    margin-left: 4%;
    font-weight: bold;
}

#contactInfo{
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#bcg{
    padding-top: 1.5%;
    font-size: 1.5em;
}

#aboutMe {
   padding-top: 3%;
    margin-left: 10%;
    margin-right: 8%;
    font-size: 1.4em;
<<<<<<< HEAD
    padding-bottom: 2%;
}

.header{
    position: fixed;
}


.header{
    position: fixed;
    width: 100%;
    z-index: 10;
     color:#FFCCCC;
}



.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 1.5em;

}

.navbar .navbar-collapse {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-collapse> li > a{
  color: #ffbbee;
}
.navbar .navbar-collapse> li > a:hover{

}
