/* All style should go in this document. */
body,#contactMe,#contactInfo{
    background-color:   #333333;

}    

#top,#ex{
    background-color:  #FFCCCC;
}

img{
    width: 100%;
    height: 25%;
    padding-bottom: 5%;
}

li,p,dl{
    color: #f7f7f7;
    
}

li,dd{
    padding-bottom: 3%; 
}

li a,a{
    color: #b3cde0;
}

#myModal,li a:hover,a:hover {
     color: #FFCCCC;

}

.title,dt{
    color: #b3cde0;
    font-size: 1.2em;
}

.date{
    color:#999;
    font-size: 1em;
    font-style: italic;
    margin-left: 5%;
}

#secTitle{
    color:#FFCCCC;
}

#contactInfo{
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#bcg{
    padding-top: 4%;
    font-size: 1.3em;
}

#aboutMe {
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 8%;
    font-size: 1.4em;
    padding-bottom: 2%;
}